
<div class="container" id="recipe" style="padding-top: 100px;">
    <div class="row">
    </div>
    <div >
        <h1 style="font-size: 400%;">{{recipe.heading}}</h1>
    </div>

    <div style="padding-bottom: 10px; padding-top: 30px; margin: 5%;">
        <h4 style="font-size: 200%; ">{{recipe.subheading}}</h4>
    </div>
    
    <img src="assets/images/butter-naan.jpg" alt="img" height="600px"  style=" padding-bottom: 50px; margin: 0; max-width: 100%; display: grid; width: 100%;">
    <div class="description" style="max-width: 50%; padding-bottom: 50px;">
        Naan has to be the easiest bread to make. It’s so simple and satisfying. I love it with curry, I love it with dal, I love it just by itself but I especially love it when it’s been brushed with a generous amount of garlic butter. 
        <br><br>
        If you haven’t made naan bread before, what are you waiting for! It’s a simple as stirring together the ingredients, waiting a while, the rolling it out. The naans get cooked in a hot skillet – no need for an oven –  and brushed with a glorious amount of garlic butter. Soft and fluffy with some nice crispy charred bits. Seriously so good
    </div>

    <img src="assets/images/recipe.png" alt="Recipe IMG">

    <div class="row">

        <div class="description" style="max-width: 50%; padding-bottom: 50px; padding-top: 50px;">
            In a small bowl, whisk together the milk and yogurt. Set aside.
            <br><br>
            Mix the dry ingredients together in a bowl or on a clean work surface. Make a well and slowly add in the milk-yogurt mix bit by bit, combining with the flour. Knead into a soft dough. Gather into ball and cover for 1 hour.
            <br><br>
    
            Make the garlic butter by melting the butter, along with the garlic over low heat. Stir in the cilantro and set aside.
            <br><br>
    
            Lightly dust your work surface with flour. Divide the dough into 4 equal pieces and use a rolling pin to flatten and stretch out.
            <br><br>
    
            Heat up a heavy bottomed or cast iron skillet (with a lid, preferably a glass lid) over high heat. Brush one side of the naan with water and place in the skillet, water side down.
            <br><br>
    
            Cover the pan and cook for 30 seconds, then check it to see if has started to bubble and rise.
            <br><br>
    
            Use a pair of tongs and take it off the pan and cook the uncooked side over direct flames until it starts to char. Alternatively, flip and cook the pan until it starts to brown.
            <br><br>
    
            When the naan is browned on both sides, brush with the garlic butter. Repeat with the remaining dough. Enjoy warm.
        </div>

        <div class="col-md padding-top: 50px">
            <iframe width="560" height="315" [src]='safeURL' frameborder="0" allowfullscreen>
            </iframe>
        </div>

    </div>

</div>